<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypto Airdrops</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <main>
    <ul id="airdrops-list">
      {% for airdrop in airdrops %}
        <li>
          <input type="checkbox" id="airdrop-{{ loop.index }}" class="airdrop-toggler" hidden>
          <label for="airdrop-{{ loop.index }}" class="airdrop-title">{{ airdrop.name }}</label>
          <ul class="airdrop-steps">
            {% for step in airdrop.steps %}
              <li>
                <input type="checkbox" id="step-{{ loop.index }}-{{ loop.parent.index }}" hidden>
                <label for="step-{{ loop.index }}-{{ loop.parent.index }}">{{ step }}</label>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
